%button {
  padding: em(8) em(17);
  display: inline-block;
  margin: em(17) 0 0 0;
  font-size: em(19);
  font-weight: bold;
  font-family: $font-primary;

  &, &:visited, &:active {
    background-color: $color-white;
    color: white;
  }

  &:hover, &:focus {
    background-color: lighten($color-white, 5%);
  }
}
